
<div class="row">
  <div class="col-12 ">
    <div class="col-12">
      <label class="switch">
          <input id="bikePath" name="bikePath" type='checkbox' (change)="onSwitchBikePath($event)"> 
          <span class="slider round"></span>
        </label>
        <label for="bikePath" style="margin-left:10px"> Afficher pistes cyclables </label>
      </div>
      <div class="col-12">
        <label class="switch">
          <input id="park" name="park" type='checkbox' [(ngModel)]="showPark" (change)="onSwitchPark($event)"> 
          <span class="slider round"></span>
        </label>
        <label for="bikePath" style="margin-left:10px">Afficher stationnement pour vélos</label>
      </div>
  </div>
</div>

<div class="row" *ngIf="switchBikePath == true">
  <div class="col-12">
    <span><img style="width:20px; height:20px" src="../../../assets/img/cycleway.png"> Piste cyclable </span>
    <span><img style="width:20px; height:20px" src="../../../assets/img/lane.png"> Bande cyclable</span>

  </div>
</div>


<div class="row">
  <div #mapRef id="map" style="height:500px" class="col-12">

  </div>
</div>
